<div class="w-full min-h-screen pt-[50px]">
  <h2 class="text-center text-[28px] text-[#ff2e62] mb-6 mt-4 font-semibold">
    User's Workout List
  </h2>

  <!-- filter section  -->
  <div
    class="w-[90%] mx-auto max-w-[1240px] flex items-center justify-between gap-4 p-4 border-b-[1px] border-gray-50 shadow-md shadow-[#d3d3d3] rounded-t-md bg-blue-50"
  >
    <div class="font-semibold text-xl ml-2">Filters</div>

    <div class="flex items-center gap-8">
      <!-- Filter by username -->
      <div class="flex items-center gap-3">
        <label for="userName" class="mb-1">UserName</label>
        <input
          type="text"
          id="userName"
          placeholder="Search username"
          [(ngModel)]="filter.userName"
          (ngModelChange)="applyFilter()"
          class="border-[#cccccc] bg-white focus:border-[#ff2e62] border-[1px] outline-0 rounded px-2 py-1 w-[250px]"
        />
      </div>

      <!-- Filter by workout type -->
      <div class="flex items-center gap-3">
        <label for="workoutType" class="mb-1">Workout Type</label>
        <ng-multiselect-dropdown
          [placeholder]="'Select workouts'"
          [settings]="dropdownSettings"
          [data]="workoutTypeOptions"
          [(ngModel)]="filter.workoutType"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onItemSelect($event)"
          (onDeSelect)="onItemSelect($event)"
          class="text-[14px] bg-white"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>

  <!-- user table section  -->
  <div
    class="w-[90%] mx-auto max-w-[1240px] shadow-md shadow-[#d3d3d3] rounded-b-md overflow-hidden"
  >
    <table class="w-full">
      <thead
        class="border-b-[1px] border-t-[1px] border-t-[#e4e4e4] border-[#cecbcb] text-[#ff2e62] bg-blue-50"
      >
        <tr>
          <th class="p-2" *ngFor="let name of tableColumnHeaders">
            {{ name }}
          </th>
        </tr>
      </thead>

      <tbody *ngIf="formattedWorkoutList && formattedWorkoutList.length">
        <tr
          *ngFor="let item of formattedWorkoutList"
          class="text-center border-b-[1px] border-[#c4c4c4]"
        >
          <td class="p-3">{{ item.userName }}</td>
          <td class="p-3">{{ item.workouts }}</td>
          <td class="p-3">{{ item.totalWorkouts }}</td>
          <td class="p-3">{{ item.totalWorkoutDuration }}</td>
        </tr>
      </tbody>

      <tbody *ngIf="!formattedWorkoutList || !formattedWorkoutList.length">
        <td colspan="4" class="text-center p-8 font-semibold text-gray-500">
          No data found
        </td>
      </tbody>
    </table>
  </div>
</div>
